<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/portfolio.css">
    <title>Portfolio Alexa</title>

</head>

<body>
    <main class="mainContainer">
        <header>
            <nav>
                <ul class="menu">
                    <li class="aboutMe">Sobre Mi</li>
                    <li class="contactMe">Contactame</li>
                    <li class="Projects">Proyectos</li>
                </ul>
            </nav>

            <div class="logo">
                <div class="icon">
                    <img src="/public/images/ivnova.svg" alt="">
                </div>
                <p class="ivnova">IVNOVA</p>
            </div>
            <div class="iconSound"></div>

        </header>





    </main>



</body>

</html>