<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/portfolio.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Portfolio Alexa</title>

</head>

<body>
    <main class="mainContainer">
        <header>
            <nav id="navbar"></nav>
        </header>

        <!-- MAIN CONTAINEr CARDS MOVIES SECTION -->
        <section class="mainCardMovies">

            <!-- CONTAINER TO IMG AND INFORMATION -->
            <section class="containerCardMovies" id="containerCardMovies">
                <!-- IMG CARD MOVIES -->
                <div class="imgCardMovies">
                    <div class="filterCardMovie">
                        <!-- INFORMATION -->
                        <div class="infoCardMovies">
                            <h2>SOBRE MI</h2>
                            <p> Desarrolladora Fullstack Jr, transformo ideas en realidades digitales con diseño y
                                código. Innovadora, creativa y enfocada en resultados únicos. <br> ¡Descubre mi visión
                                única y conecta!</p>
                            <a class="btnAboutMe">Saber Más</a>
                            <div class="containerIcons">
                                <a href="https://www.linkedin.com/in/alexa-ivannova-bautista-ramirez/"><i
                                        class='bx bxl-linkedin'></i></a>
                                <a href="https://github.com/Alexa-Ivannova"><i class='bx bxl-github'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- LATERAL SECTION MOVIES-->
            <section class="mainContainerLateralCards">
                <div id="containerContact" class="containerItems containerContact">
                    <h3>CONTÁCTAME</h3>
                    <p> Hablemos y crea algo asombroso conmigo. ¡Diseño, tecnología e innovación a tu alcance! Tu futuro
                        proyecto comienza aquí.</p>
                    <a class="btnAboutMe">Saber Más</a>
                </div>

                <div id="containerProjects" class="containerItems containerProjects">
                    <h3>PROYECTOS</h3>
                    <p> Explora mis proyectos donde el diseño se encuentra con la tecnología. Innovación, creatividad y
                        resultados excepcionales en cada uno. </p>
                    <a class="btnAboutMe">Saber Más</a>
                </div>
            </section>
        </section>

        <footer class="copyright">
            <!-- PROGRAMS SECTION -->
            <section class="tecnology">
                <i class='bx bxl-javascript'></i>
                <i class='bx bxl-css3'></i>
                <i class='bx bxl-html5'></i>
                <i class='bx bxl-spring-boot'></i>
                <i class='bx bxl-java'></i>
            </section>

            <p>Desarrollado por Alexa Ivannova ©️ </p>
        </footer>

        <section class="backgroundPortfolio" id="backgroundPortfolio"></section>
    </main>
    <script src="/components/background.js"></script>
    <script src="/js/openCard.js"></script>
    <script src="/components/menu.js"></script>

</body>

</html>