@import url(./styles.css);

/* Main container cards movies sectión   */
.mainCardMovies {
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  position: relative;
}

/* Container to img and information */
.containerCardMovies {
  background: rgba(14, 11, 185, 0.3);
  width: 340px;
  height: 380px;
  border-radius: 0px 30px 30px 0px;
  overflow: hidden;
}

/* Container img card movies */
.imgCardMovies {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(/public/images/sobre-mi.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.filterCardMovie {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(14, 11, 185, 0.26);
}

/*  Container information */
.infoCardMovies {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

h2 {
  font-size: var(--subtitle);
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.infoCardMovies p {
  font-size: var(--paragraph);
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
  background-color: rgba(83, 83, 83, 0.347);
  border: transparent solid 10px;
  border-radius: 10px;
}

.btnAboutMe {
  background-color: var(--pink-extra-light);
  padding: 5px 8px;
  color: #000;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: var(--small-text);
  box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.697);
}

.btnAboutMe:hover{
  background-color: var(--barbie-pink);
}

/* Icons section about me*/
.containerIcons{
  .bx{
    font-size: 25px;
    margin: 5px;
  }
  
  .bx:hover{
    color: var(--barbie-pink);
    transform: scale(1.5);
  }

}


/* Container lateral cards */
.mainContainerLateralCards {
  position: absolute;
  display: flex;
  height: 100%;
  right: 0;
  width: 100%;
}

.containerItems {
  width: 60px;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0 0 20px;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  transition: all 0.2s ease-in-out;
}

.containerItems h3 {
  transform: rotate(270deg);
}

.containerProjects {
  background: url(/public/images/Proyects.jpeg);
  background-size: cover;
}

.containerProjects p,
.containerProjects .btnAboutMe,
.containerContact p,
.containerContact .btnAboutMe {
  display: none;
}

.containerContact {
  width: 110px;
  background: url(/public/images/contactam.jpeg);
  background-size: cover;
}

.containerContact h3 {
  margin-left: -50px;
}

.showCardProject {
  right: 10%;
  border-radius: 0 20px 20px 0;
  width: 340px;
  height: 380px;
  background-size: cover;
}

.showInfoContainerProject {
  align-items: flex-start;
}

.showcontainerCardMovies {
  z-index: 400;
  width: 60px;
  height: 315px;
  position: absolute;
  right: 0;
  border-radius: 20px 0 0 20px;
  transition: all 0.2s ease-in-out;
}

.showcontainerCardMoviesLeft {
  z-index: 300;
  width: 110px;
  height: 315px;
  position: absolute;
  right: 0;
  border-radius: 20px 0 0 20px;
  transition: all 0.2s ease-in-out;
}


/* Section tecnologies */
.tecnology i {
  font-size: var(--title);
  color: var(--barbie-pink);
}

.tecnology i:nth-child(odd) {
  color: rgb(255, 166, 0);
}


/* RESPONSIVE TABLET  */
@media (min-width: 744px) {
/* Main container cards movies sectión   */
.mainCardMovies {
  height: 100vh;
}

/* Container to img and information */
.containerCardMovies {
  /* background-color: aqua; */
  width: 90%;
  height: 80%;
}

/*  Container information */
.infoCardMovies {
  /* background-color: green; */
  width: 80%;
  gap: 40px;
  padding: 50px;
}

h2 {
  font-size: var(--title);
}

.infoCardMovies p {
  font-size: var(--web-text);
}

.btnAboutMe {
  padding: 10px 15px;
  font-size: var(--web-text);
}

/* Icons section about me*/
.containerIcons{
  .bx{
    font-size: var(--title);
  }
}


/* Container lateral cards */
.containerItems {
  width: 100px;
  height: 500px;
}

.containerContact {
  width: 180px;
}

.showCardProject {
  width: 90%;
  height: 80%;
}

.showcontainerCardMovies {
  width: 100px;
  height: 500px;
}

.showcontainerCardMoviesLeft {
  width: 180px;
  height: 500px;
}


/* Section tecnologies */
.tecnology i {
  font-size:50px;
}
}


/* RESPONSIVE DESKTOP  */
@media (min-width: 1200px) {
/* Container to img and information */
.containerCardMovies {
  width: 90%;
  height: 100%;
}

/* Container lateral cards */
.containerItems {
  height: 400px;
}

.showCardProject {
  width: 90%;
  height: 100%;
}

.showcontainerCardMovies {
  width: 100px;
  height: 400px;
}

.showcontainerCardMoviesLeft {
  width: 180px;
  height: 400px;
}
}