* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: rgb(253, 253, 253);
  font-family: "Lato", sans-serif;
}

:root {
  --primary: #1a1947;
  --secondary: #d63cb4;
  --tertiary: #16006f;
  --cuaternary: #4c006c;

  /* COLORES PLANETAS */
  --planet1: linear-gradient(
    to bottom right,
    rgba(214, 60, 180, 0.8),
    rgba(155, 34, 149, 0.8) 18%,
    rgba(76, 0, 108, 0.7) 33%,
    rgba(23, 0, 44, 0.6) 55%,
    rgba(1, 0, 6, 1)
  );

  --AE-23: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(71, 44, 111, 0.9) 32%,
    rgba(51, 131, 192, 0.6) 64%,
    rgba(0,255, 160, 0.4) 90%
  );

  --pink-extra-light: #f6f6f6;
  --black: #000000;
  --barbie-pink: #f4238e;

  --gap10: 10px;
  --gap20: 20px;
  --gap30: 30px;

  --radius20: 20px;
  --radius30: 30px;
  --radius100: 100%;

  --title: 42px;
  --subtitle: 35px;
  --second-subtitle: 30px;
  --web-text: 20px;
  --paragraph: 14px;
  --small-text: 12px;

  --box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);

  --background-gradient: linear-gradient(
    var(--primary),
    var(--tertiary),
    var(--cuaternary),
    var(--secondary)
  );
}

body {
  background: var(--background-gradient);
}

.mainContainer {
  /* background-color: #F4238E; */
  width: 100vw;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}
