* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: #f6f6f6;
  font-family: "Lato", sans-serif;
}

:root {
  /* TIPOGRAPHY */
  --title: 42px;
  --subtitle: 36px;
  --second-subtitle: 25px;
  --web-text: 20px;
  --paragraph: 16px;
  --small-text: 12px;

  /* COLORS SECTION */
  /* COLOR PALETTE */
  --pink-extra-light: #f6f6f6;
  --black: #000000;
  --barbie-pink: #f4238e;

  /* BACKGROUND GRADIENT COLORS */
  --background-gradient: linear-gradient(
    180deg,
    #1a1947 0%,
    #16006f 30.9%,
    #4c006c 67.9%,
    #d63cb4 100%
  );

  /* GRADIANT PLANETS */
  --planet1: linear-gradient(
    35deg,
    rgba(214, 60, 180, 0.8) 21.52%,
    rgba(155, 34, 149, 0.8) 34.17%,
    rgba(76, 0, 108, 0.7) 46.61%,
    rgba(23, 0, 44, 0.6) 64.08%,
    #010006 83.76%
  );

  --AE-23: linear-gradient(
    157deg,
    rgba(0, 0, 0, 0.9) 14.85%,
    rgba(71, 44, 111, 0.91) 39.47%,
    rgba(51, 131, 192, 0.6) 63.79%,
    rgba(0, 255, 160, 0.4) 84.3%
  );

  --CRF-15: linear-gradient(
    225deg,
    #1a1947 13.28%,
    #0f1c4f 29.63%,
    #021f59 49.61%,
    #40326b 65.95%,
    #8c4a81 85.93%
  );

  /* GAP */
  --gap10: 10px;
  --gap20: 20px;
  --gap30: 30px;

  /* RADIUS */
  --radius20: 20px;
  --radius30: 30px;
  --radius100: 100%;

  /* SHADOW */
  --box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  background: var(--background-gradient);
  overflow: hidden;
  /* opacity: 90%; */
}

/*PAGES PARENT CONTAINER */
.mainContainer {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  /* max-width: 1440px; */
  margin: 0 auto;
  position: relative;

}
